body {
    background-image: url(https://images.pexels.com/photos/33545/sunrise-phu-quoc-island-ocean.jpg);
    background-size: cover;
    background-attachment: fixed;
}

footer {
    bottom: 0;
    width: 100%;
    color: white;
}

:root {
    --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
  }
  
  .card {
    background: #222;
    border: 1px solid #dd2476;
    color: rgba(250, 250, 250, 0.8);
    margin-bottom: 2rem;
  }
  
